body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 5px
  }
  ::-webkit-scrollbar-track {
    background:transparent; 
  }
::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.652);
    /* border-radius: 50px; */
    border-radius: 10px;

}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}
.main{
    background-color: white;
    border-radius: 15px;
    height: 85%;
    width: 85%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.up{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    color: black;
    border-bottom: 1px solid;
}
.down{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.input{
    width: 49.9%;
    height: 100%;
    border-right: 1px dashed;
    border-spacing: 100px;
    position: relative;
}
.drop
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
.result{
    width: 50%;
    height: 100%;
    position: relative;
   
}
footer{
    background-color: rgba(0, 0, 0, 0.655);
    color: white;
    height: 25px;
    font-size: 0.8rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}
#codeInput {
    width: 99%;
    height: 80%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    resize: none;
    
}
#output{
    width: 99%;
    height: 80%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: gray;
    letter-spacing: 1px;
    text-align: start;
    overflow: auto;
}
#codeInput::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.1) 50%);
    background-size: 100% 20px; /* Adjust the line height here */
    z-index: -1;
}
.button {
    background: linear-gradient(135deg, #2551af, #85078d);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 1s;
    
}

.button:hover {
    background: linear-gradient(225deg, #2551af, #85078d);
}
.action{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#copyButton{
    position: absolute;
    top: 10%;
    right: 10px;
}

@media screen and (max-width:800px){

    .main{
        width: 95%;
        height: 85%;
    }
    .input{
        width: 100%;
        height: 50%;
        border: none;
        border-bottom: 1px dashed;
    }
    .result{
        width: 100%;
        height: 50%;
    }
    #copyButton{
        top: 20%;
    }
    ::-webkit-scrollbar {
    display: none;
    }
}
